In [1]:
#
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5,6])

In [3]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
# series can be indexed and change
s2 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [7]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# create a series object from a dictionary
import pandas as pd

In [9]:
s3 = pd.Series({'a':10,'b':20,'c':30})

In [10]:
print(s3)

a    10
b    20
c    30
dtype: int64

In [15]:
# creating a data frame
df1=pd.DataFrame({"Name":['Anjan','Pukar','Anish','Ramesh','Pasang'],"Marks":[98,99,100,100,100],"Rollno":[1,2,3,4,5]})

In [16]:
print(df1)

     Name  Marks  Rollno
0   Anjan     98       1
1   Pukar     99       2
2   Anish    100       3
3  Ramesh    100       4
4  Pasang    100       5

In [18]:
#working with the iris data base 
df=pd.read_csv('iris.csv')

In [19]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [20]:
df.shape

(150, 5)

In [21]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
df.iloc[0:3,0:2] # using iloc is exclusive (0:3-> index , 0:2 columns)

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [25]:
df.loc[5:10,('petal_length','petal_width')] # using loc for insclusive

    petal_length  petal_width
5            1.7          0.4
6            1.4          0.3
7            1.5          0.2
8            1.4          0.2
9            1.5          0.1
10           1.5          0.2

In [29]:
df.drop('sepal_length',axis=1) #to drop the column from the dataframe

     sepal_width  petal_length  petal_width    species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [30]:
df.drop([3,4,5,6,7]) #to drop the row from the dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

In [32]:
df.shape

(150, 5)

In [34]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [ ]:
df

     Name  Marks
0   Anjan     98
1   Pukar     99
2   Anish    100
3  Ramesh    100
4  Pasang    100